#tModLoader build artifacts (root level)
bin/
obj/
Content/
Localization/
Properties/
*.csproj
description.txt
description_workshop.txt
icon.png
icon_small.png
compile_temp/
Properties/
description.txt
description_workshop.txt


__pycache__/
*.pyc
.venv/

#training
logs/
checkpoints/
*.pt
*.pth
wandb/

#junk
.DS_Store
Thumbs.db
.vscode/
.idea/